<form name="medicationForm" novalidate>
    <div class="form-group">
        <label for="medicationName">Name</label>
        <input type="text" class="form-control" ng-class="{'is-invalid': medicationForm.name.$dirty && medicationForm.name.$invalid, 'is-valid': medicationForm.name.$dirty && medicationForm.name.$valid}"
            id="medicationName" name="name" ng-model="medication.name" ng-required="true" />
        <div ng-show="medicationForm.name.$dirty">
            <div class="valid-feedback" ng-show="medicationForm.name.$valid">
                Ok!
            </div>
            <div class="invalid-feedback" ng-show="medicationForm.name.$error.required">
                Please provide a valid name.
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="medicationMeasurementUnit">Measurement Unit</label>
        <select type="text" class="custom-select" id="medicationMeasurementUnit" name="measurementUnit" ng-class="{'is-invalid': medicationForm.measurementUnit.$dirty && medicationForm.measurementUnit.$invalid, 'is-valid': medicationForm.measurementUnit.$dirty && medicationForm.measurementUnit.$valid}"
            ng-model="medication.measurementUnit" ng-options="unit for unit in measurementUnits track by unit"
            ng-required="true">
            <option value=""></option>
        </select>
        <div ng-show="medicationForm.measurementUnit.$dirty">
            <div class="valid-feedback" ng-show="medicationForm.measurementUnit.$valid">
                Ok!
            </div>
            <div class="invalid-feedback" ng-show="medicationForm.measurementUnit.$error.required">
                Please provide a valid measurement unit.
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="medicationOrientation">Orientation</label>
        <input type="text" class="form-control" id="medicationOrientation" name="orientation" ng-class="{'is-invalid': medicationForm.orientation.$dirty && medicationForm.orientation.$invalid, 'is-valid': medicationForm.orientation.$dirty && medicationForm.orientation.$valid}"
            ng-model="medication.orientation" ng-required="true" />
        <div ng-show="medicationForm.orientation.$dirty">
            <div class="valid-feedback" ng-show="medicationForm.orientation.$valid">
                Ok!
            </div>
            <div class="invalid-feedback" ng-show="medicationForm.orientation.$error.required">
                Please provide a orientation.
            </div>
        </div>
    </div>

    <button class="btn btn-primary btn-block" ng-click="createMedication(medication)" ng-disabled="medicationForm.$invalid">
        <span>Create</span>
    </button>
</form>