.mb-30 {
    margin-bottom: 30px;
}

form {
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
}

.invalid-feedback,
.valid-feedback {
    display: block;
}

.table td, 
.table th {
    text-align: center;
    vertical-align: middle;
}

.table td a:not(:last-of-type) {
    margin-right: 5px;
}